@import '../../variables';

.containerNavbar {
  @include flexCenter(row);
  background-color: $color-background;
  color: $color-text;
  padding: 0.5rem 1rem;
  width: 100%;
  border: solid 1px $color-border;
  box-shadow: 0 0 5px $color-shadow;
  margin-bottom: 1rem;

  .navTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navList {
    list-style: none;
    @include flexCenter(row);
    margin-left: auto;
    gap: 1rem;

    .navItem {
      &:first-child {
        cursor: default;
      }
      &:last-child {
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: 0.2s;
        &:hover {
          color: $color-info;
        }
      }
    }
  }
}
