.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.form {
  background-color: #21222a;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
}

.title {
  color: #eee;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.input {
  height: 30px;
  width: 100%;
  background-color: #282d35;
  color: #eee;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  text-indent: 10px;
}

.button {
  border-radius: 10px;
  background-color: #282d35;
  color: #eee;
  height: 30px;
  width: 100%;
  border: 0;
  transition: background-color 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #535963;
}

.link {
  color: #eee;
  font-size: 12px;
  text-decoration: none;
  transition: font-size 0.3s;
}

.link:hover {
  font-size: 15px;
}
